@model gerenciador_de_notas.Models.Nota

@{
    ViewData["Title"] = "Deletar nota";
}

<link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />

<h1 class="text-center">Deletar nota</h1>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <h3>Você tem certeza que quer <span style="color: red;">deletar</span> essa nota?</h3>
                <div class="text-center">
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label "></label>
                    <p>@Html.DisplayFor(model => model.Titulo)</p>
                </div>
                <div class="form-group">
                    <label asp-for="Conteudo" class="control-label"></label>
                    <div class="p">@Html.DisplayFor(model => model.Conteudo)</div>
                </div>
               
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="botao btn btn-danger" />
                    <a asp-action="Index">Voltar</a>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>